html,
body {
  background-color: #ffffff;
}

.protocol-main {
  font-size: 14px;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  color: #333333;
  background-color: #F0F0F0;
  .title {
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    color: #000000;
  }
  .black {
    color: #000000;
  }
}


