html,
body {
  text-align: center;
}
section,p{
  padding: 0;
  margin: 0 !important;
}
header,section,footer{
  background: #fff;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

img {
  display: inline-block;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:hover,
a:active,
a:focus {
  text-decoration: none !important;
}

.flex_column-center-start {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex_row-between {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.pct75 {
  width: 75%;
}

.pct80 {
  width: 80%;
}

.pct100 {
  width: 100%;
}

.flex1 {
  -ms-flex: 1 !important;
  flex: 1 !important;
  text-align: center;
}

.flex2 {
  -ms-flex: 2 !important;
  flex: 2 !important;
  text-align: center;
}

.flex3 {
  -ms-flex: 3 !important;
  flex: 3 !important;
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.header_title {
  color: #FF3B06;
  opacity: .8;
  white-space: nowrap;
  overflow: hidden;
  font-size: 30px;
}

[data-dpr="2"] .header_title {
  font-size: 46px;
}

[data-dpr="3"] .header_title {
  font-size: 1.92rem;
}

.discount {
  font-size: 30px;
  font-weight: 500;
}

[data-dpr="2"] .discount {
  font-size: 34px;
}

[data-dpr="3"] .discount {
  font-size: 38px;
}

.header {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  padding-bottom: 15px;
  .left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
  }
  .right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
  }
  .img {
    width: 90%;
  }
  .header_text {
    width: 85%;
    margin: 0 auto;
  }
}

section {
  margin: 1.066667rem 0;
  text-align: center;
}

.title {
  width: 78%;
}

.content {
  width: 72%;
}

.explain {
  padding: 0 8%;
  margin: 15px 0;
  line-height: 20px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}

[data-dpr="2"] .explain {
  font-size: 16px;
}

[data-dpr="3"] .explain {
  font-size: 20px;
}

.description {
  padding: 5px 8%;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
}

[data-dpr="2"] .description {
  font-size: 19px;
}

[data-dpr="3"] .description {
  font-size: 23px;
}

.btn_wrapper_outer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px 0;
  .btn {
    width: 100%;
    height: 46px;
    line-height: 46px;
    margin: 0 auto;
  }
}

.btn_wrapper_inner {
  margin: 35px 0 20px;
  .btn {
    width: 75%;
    height: 46px;
    line-height: 46px;
    margin: 0 auto 10px;
    border-radius: 23px;
  }
}

.download_btn div {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

[data-dpr="2"] .download_btn div {
  font-size: 22px;
}

[data-dpr="3"] .download_btn div {
  font-size: 26px;
}

.download_btn.red {
  background: linear-gradient(#FF8D76, #FE0000);
  text-align: center;
}

.download_btn.blue {
  background: linear-gradient(#7AAAFF, #0E48E2);
  text-align: center;
}

.download_btn.orange {
  background: linear-gradient(#ffa016, #ff8908);
  text-align: center;
}

.linkto_driver {
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  a {
    display: inline-block;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    img {
      width: 14px;
      height: 14px;
    }
  }
}

[data-dpr="2"] .linkto_driver a {
  font-size: 32px;
}

[data-dpr="3"] .linkto_driver a {
  font-size: 46px;
}

.linkto_driver.red {
  border: 1px solid #FF6C5C;
  a {
    color: #FF6C5C;
  }
}

.linkto_driver.blue {
  border: 1px solid #668BFF;
  a {
    color: #668BFF;
  }
}

.linkto_driver.orange {
  border: 1px solid #ff7800;
  a {
    color: #ff7800;
  }
}

.arrow {
  display: inline-block;
  margin-top: 0.32rem;
  width: 0.373333rem;
  height: 0.373333rem;
}

/* .arrow.red {url("../img/blue_arrow@2x.png")
  background: url("../img/red_arrow@2x.png") no-repeat center;
  background-size: 0.373333rem 0.373333rem;
} */

/* .arrow.blue {
  background: url('@/assets/AppShares/blue_arrow@2x.png') no-repeat center;
  background-size: 0.373333rem 0.373333rem;
} */

/* .arrow.orange {
  background: url("../img/orange_arrow@2x.png") no-repeat center;
  background-size: 0.373333rem 0.373333rem;
} */

footer {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: 0 0 80px 0;
  .logoBox {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 7px;
    height: 30px;
    vertical-align: top;
    -ms-flex-pack: center;
    justify-content: center;

    .logo {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }

    .txt {
      display: inline-block;
      line-height: 24px;
    }
  }
  .name {
    font-size: 0.32rem;
    color: rgba(0, 0, 0, 0.6);
  }
}

[data-dpr="2"] footer {
  font-size: 17px;
  .name {
    font-size: 24px;
  }
}

[data-dpr="3"] footer {
  font-size: 19px;
  .name {
    font-size: 0.32px;
  }
}

.contractor-header-wrapper {
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
}